---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<!-- <h3><a href="https://thecodinglama.github.io/assets/cv.pdf" target="_blank">CV - click here to Download.</a></h3> -->

<h3>Game projects (Click to play)</h3>
<ul>
  <li><a href="https://thecodinglama.github.io/assets/MazeRunner.html" target="_blank" style="color: white">Maze runner</a></li>
</ul>

<h3>Research works</h3>

<h5> Accepted </h5>

<ul>
  <li> IEEE Transaction paper titled "A Visualized Botnet Detection System based Deep Learning for the Internet of Things Networks of Smart Cities" has been accepted to <a href="http://jolfaei.info/IEEE-Trans-IAS.html" target="_blank" style="color: white">IEEE-IAS Security, Reliability, Privacy, and Quality in Industrial Automation and Control</a> (Impact Factor 3.3,Q1, H Index:175) <a href="https://ieeexplore.ieee.org/document/8985278" target="_blank">[Click to view paper]</a> 
  </li>
  
  
  
  <li> IEEE confernce paper titled "Multi-scale Learning based Malware Variant Detection using Spatial Pyramid Pooling Network" has been accepted to <a href="https://infocom2020.ieee-infocom.org/workshop-security-and-privacy-big-data" target="_blank" style="color: white"> The Eighth International Workshop on Security and Privacy in Big Data </a> in conjunction with IEEE INFOCOM 2020 which is a top ranked conference  (CORE Rank: A* and H-index of 205) on networking.
  </li>
  
  <li> IEEE confernce paper titled "A Deep learning Approach for Botnet Detection in the Internet of Things Networks of Smart Cities" has been accepted to <a href="https://infocom2020.ieee-infocom.org/workshop-data-driven-intelligence-networks-and-systems" target="_blank" style="color: white"> The Second International Workshop on Data Driven Intelligence for Networks </a> in IEEE INFOCOM 2020 which is a top ranked conference  (CORE Rank: A* and H-index of 205) on networking.
  </li>
  
  <li> IEEE confernce paper titled "Deep Convolutional Neural Network Based Image Spam Classification" has been accepted to <a href="http://ieeepsu.org/cdma/" target="_blank" style="color: white">6th International Conference on Data Science and Machine Learning Applications (CDMA 2020)</a>
  </li>
  
  <li> Springer conference paper titled "DCNN-IDS : Deep Convolutional Neural Network based Intrusion Detection System" has been accepted to <a href="http://www.psgtech.edu/icc3-2019/" target="_blank" style="color: white">PSG ICC3 2019 Conference</a>
  </li>
  
  <li> Springer conference paper titled "Towards Evaluating the Robustness of Deep Intrusion Detection Models in Adversarial Environment" has been accepted to <a href="http://www.acn-conference.org/sscc2019/index.html" target="_blank" style="color: white">SSCC-2019 Symposium</a>
  </li>
 
  <li> Springer conference paper titled "Deep Learning Approach for Intelligent Named Entity Recognition of Cyber Security" has been accepted to <a href="http://www.acn-conference.org/sirs2019/" target="_blank" style="color: white">  Fifth International Symposium on Signal Processing and Intelligent Recognition Systems (SIRS'19). </a> </li>
  
  <li> IEEE conference paper titled ”A Deep Learning Framework for Domain Generation Algorithms Prediction Using Long Short-term Memory.” has been accpeted to 5th International Conference on Advanced Computing & Communication Systems (ICACCS)
<a href="https://ieeexplore.ieee.org/abstract/document/8728544" target="_blank">[Click to view paper]</a>
  </li>

  <li> A book chapter titled "Musculoskeletal Radiographs Classification using Deep Learning" has been accepted for inclusion in the book "Deep Learning for Data Analytics: Foundations, Biomedical Applications and Challenges" which will be published from Elsevier in 2020.
  </li>
  
  
</ul>


<h5> In review </h5>
<ul>
<!--   <li> A titled "Spam Emails Detection based on Distributed Word Embedding with Deep Learning" is submitted for review in <a href="https://ees.elsevier.com/knosys/" target="_blank" style="color: white">Knowledge-Based Systems</a>
  </li> -->
  
<!--   <li> IEEE confernce paper titled "Malicious URL Detection using Deep Learning" is submitted for review in <a href="https://infocom2020.ieee-infocom.org/workshops" target="_blank" style="color: white">INFOCOM2020</a>
  </li> -->
  <li> IEEE confernce paper titled "A Deep learning Approach for Botnet Detection in the Internet of Things Networks of Smart Cities" is submitted for review in <a href="https://infocom2020.ieee-infocom.org/workshops" target="_blank" style="color: white">INFOCOM2020</a>
  </li>
</ul>


<h3>Mini-Projects</h3>
<ul>
  <li>Home automation system using Raspberry Pi via Bluetooth.</li>
  <li>Ultrasonic Insect Robot using Arduino.</li>
  <li>Voice controlled Robotic hand using Raspberry Pi.</li>
</ul>
 
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
