---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3><a href="https://thecodinglama.github.io/assets/cv.pdf" target="_blank">CV - click here to Download.</a></h3>

<h3>Game projects (Click to play)</h3>
<ul>
  <li><a href="https://thecodinglama.github.io/assets/MazeRunner.html" target="_blank" style="color: white">Maze runner</a></li>
</ul>

<h3>Research works</h3>

<h5> Published </h5>
  
<ul>
  <li> <a href="https://ieeexplore.ieee.org/abstract/document/8728544" target="_blank" style="color: white">IEEE conference paper titled ”A Deep Learning Framework for Domain Generation Algorithms Prediction Using Long Short-term Memory.”</a></li>
</ul>

<h5> Accepted </h5>



<h5> In review </h5>

<ul>
  <li> IEEE confernce paper titled "Deep Convolutional Neural Network Based Image Spam Classification" is submitted for review in <a href="http://ieeepsu.org/cdma/" target="_blank" style="color: white">6th International Conference on Data Science and Machine Learning Applications (CDMA 2020)</a>
  </li>
</ul>

<h5> Working On </h5>

<!-- <ul>
  <li>Submitted a paper titled ”Deep Learning Based Two-Level Framework for Domain Name Systems Data Analysis. IEEE Transactions on Information Forensics and Security.” (under-review). (IF:5.824).</li>
  <li>Manuscript title ”A Survey of Applications of Deep Learning for Cyber Security” under-preparation for IEEE Communications Surveys Tutorials (IF: 20.23).</li>
  <li>Published a IEEE conference paper titled ”A Deep Learning Framework for Domain Generation Algorithms Prediction Using Long Short-term Memory.” (In-Press)</li>
  <li>Paper ready for submission titled ”Towards Evaluating Robustness of Classical machine learning classifiers for Network Intrusion Detection System (NIDS).”
  </li>
  <li>Paper ready for submission titled ”Towards Evaluating Robustness of Classical machine learning classifiers for Botnet detection in Internet of Things (IoT) systems.”
  </li>
</ul> -->



<h3>Mini-Projects</h3>
<ul>
  <li>A CNN Imagenet based MURA - Biomedial Image classification.</li>
  <li>Home automation system using Raspberry Pi via Bluetooth.</li>
  <li>Ultrasonic Insect Robot using Arduino.</li>
  <li>Voice controlled Robotic hand using Raspberry Pi.</li>
</ul>
 
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
